@import "breakpoints.scss";
@import "variables.scss";
@import "cards.scss";
@import "common.scss";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    ul,li {
        list-style-type: none;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: $base-font-size;
    background-color: $color-background-black;
}

.page {
     max-width: 1440px;
    // max-height: 1000px;
    width: 100%;
     margin: auto;
    display: flex;
     justify-content: center;
     align-items: center;
    color: $text-color;
    min-height: 100vh;
}