$text-color: #ffffff;

$color-background-grey: #334247;
$color-background-black: #141b1c;

$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;

$base-font-size: 15px;
$sm-font-size: 14px;
$md-sm-fs: 20px;
$md-font-size: 35px;
$lg-font-size: 55px;