$text-color: #ffffff;

$color-background-grey: #334247;
$color-background-black: #141b1c;
$color-background-dark: #2a3438;

$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;
$color-red:#DC3F45;

$base-font-size: 15px;
$sm-font-size: 14px;
$md-sm-fs: 20px;
$md-font-size: 35px;
$lg-font-size: 55px;

$sm-font-weight: 300;
$md-font-weight: 400;
$bold-font-weight: 700;

$xs-line-height: 17px;
$sm-line-height: 18px;
$md-line-height: 24px;
$lg-line-height: 43px;
$xl-line-height: 67px;
